*{
    padding: 0;
    box-sizing:border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

/* header struttura */
footer{
    width: 1920px;
    height: 80px;
    position: fixed;
    z-index: 30;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 20px;
}

#griglia{
    background-color: gray;
    height: 25px;
    width: 130px;
    border-radius: 5px;
    padding: 5px;
}

#griglia a{
    color: white;
    text-decoration: none;
}

footer #ingrandisci{
    background-color: gray;
    height: 28px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 6px;
    padding-top: 4px;
}

footer #ingrandisci a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* main struttura */
#container{
    width: calc(100% - 50px);
    margin-left: 25px;
    height: 700px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 20;
    position: fixed;
    margin-top: 130px;
}

#container .immagine-profilo{
    /* background-color: aqua; */
    width: 15vw;
    height: 25vh;
    position: relative;
}

#container img{
    width: 100%;
    height: 100%;
}

.microfono{
    position: absolute;
    left: 0;
    bottom: 5px;
    color: white;
    background-color: rgba(211, 211, 211, 0.603);
    width: 110px;
    height: 20px;
    text-align: center;
    padding: 1px;
}