*{
    padding: 0;
    box-sizing:border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

/* header struttura */
header{
    width: 1920px;
    height: 80px;
    position: fixed;
    z-index: 30;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 20px;
}

#griglia{
    background-color: gray;
    height: 25px;
    width: 130px;
    border-radius: 5px;
    padding: 5px;
}

#griglia a{
    color: white;
    text-decoration: none;
}

header #ingrandisci{
    background-color: gray;
    height: 28px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding-left: 6px;
    padding-top: 4px;
}

header #ingrandisci a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* main struttura */
#container{
    width: calc(100% - 50px);
    margin-left: 25px;
    /* height: 700px; */
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
}

#container .immagine-profilo{
    /* background-color: aqua; */
    width: 300px;
    height: 25vh;
    position: relative;
}

#container img{
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.microfono{
    position: absolute;
    left: 0;
    bottom: 13px;
    color: white;
    background-color: rgba(211, 211, 211, 0.603);
    width: 110px;
    height: 20px;
    text-align: center;
    padding: 1px;
}


/* struttura footer */
footer{
    width: 100%;
    height: 115px;
    background-color: gray;
    display: flex;   
    align-items: center;
}

.fa-microphone{
    font-size: 35px;
    padding-left: 25px;
    color: white;
    cursor: pointer;
    animation: tastorosso 1s;
}

.fa-microphone:active{
    color: red;
}

#muto{
    color: white;
    margin: 5px;
    font-size: 30px;
}